body {
  margin-left: 20%;
  margin-right: 20%;
  background-image: url("back.jpg");
  background-size: 100% 100%;
  background-origin: border-box;
  object-fit: cover;
}
body,
input,
button {
  font-family: "Century Gothic", sans-serif;
  font-size: 20pt;
}

input,
button {
  margin: 7px;
}

#sum {
  background-color: rgb(74, 158, 158);
}
.top {
  background-image: url(https://c0.wallpaperflare.com/preview/655/269/228/sea-night-ocean-dark.jpg);
  background-size: 100% 100%;
  background-origin: border-box;
  object-fit: cover;
  margin-top: 0%;
  margin-bottom: 0%;
  border-radius: 20px;
}
#ptop {
  font-size: 35px;
  color: chocolate;
  padding: 10px;
}
#logo {
  width: 120px;
  height: 120px;
}
.ffc {
  padding-top: 150px;
}

#m {
  float: right;
}
#n {
  float: left;
  margin-left: 905px;
}
